body {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-family: 'Overpass', sans-serif;
    background: radial-gradient(at center top, hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    width: 35vh;
    height: 35vh;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
}

#star-icon {
    width: 30%;
    height: 30%;
}

#title {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

#paragraph {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.round-shadow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    justify-content: center;
    align-items: center;


}

#options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    font-family: 'Overpass', sans-serif;
    color: hsl(217, 12%, 63%);
}

#submit-btn {
    background-color: hsl(25, 97%, 53%);
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5% / 50%;
    height: 10%;
    font-family: 'Overpass', sans-serif;
}

.grow {
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background-color: hsl(25, 97%, 53%);
        color: white;
    }
}

.selected {
    transform: scale(1.1);
    background-color: hsl(25, 97%, 53%);
    color: white;
}